.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.login-modal-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 600px;
    animation: pop-in 0.3s ease-out;    
    color:black;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.login-modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-modal-content form .form-btn {
    display: flex;
    justify-content: center;
}

.close-btn {
  
}